<h4>Trending</h4>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col s2">
        <p class="center-align counter"><i class="tiny material-icons center-align">thumb_up</i></p>
        <p class="center-align counter">Counter </p>
        <p class="center-align counter"><i class="tiny material-icons center-align">thumb_down</i></p>
    </div>
    <div class="col s10">
      <h5><%= link_to "#{post.title}", post_path(id: post.id) %></h5>
      <%= post.content %> @ <%= post.created_at %>
    </div>
  </div>
<% end %>
