<div class="row valign-wrapper">
  <div class="col s8">
    <h4>New Post</h4>
  </div>
  <div class="col s4">
    <%= link_to "Return to Trending", posts_path,
    :class => "waves-effect waves-light btn grey lighten-1 right z-depth-0" %>
  </div>
</div>

<%= render partial: 'postform' %>
